:root {
  --background: #eaeaea;
  --font-input: #5e5e5e;
  --white: #ffffff;
  --dark-green:#006400;
  --medium-green:#008000;
  --ligth-green:#00FF00;
  --dark-purple:#800080;
  --medium-purple:#9370DB;
  --ligth-purple: #D8BFD8;
  --black: #333333;
  --gray: #f4f4f4;
  --second-gray: #e2e2e2;
  --errors: #ff3d40;
  --input: #f7f7f7;
  --confirm: #92db80;
  --recuse: #db8080;
}
